<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/facebook">
                 <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="https://www.instagram.com/instagram/">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/linkedin/">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        <div class="f-info-brand"> &copy; wanderlust company limted</div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>