<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://getbootstrap.com/docs/5.3/components/alerts/"> <i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/mohit7284kumar"><i class="fa-brands fa-square-instagram"></i></a>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand"> &copy; wanderlust company limted</div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>